html {
    background: url("/src/img/Ime81z.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 40rem;
    padding: 4.5rem;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.625rem;
}
.card-body h1 {
    margin: 0 0 1.875rem;
    padding: 0;
    color: #fff;
    text-align: center;
}
.card-body h10 {
    margin: 0 0 1.875rem;
    padding: 0;
    color: #fff;
    text-align: center;
}
.card-body input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    background-color: #03a9f4;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
}
.card-body input[type="button"] {
    border: none;
    outline: none;
    color: #fff;
    background-color: #03a9f4;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
}
.card-body input {
    width: 100%;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: none;
    border-bottom: 0.065rem solid #fff;
    outline: none;
    background: transparent;
}
.row h4 {
    color: #fff;
}
.row p {
    color: #fff;
}
.row small {
    color: #fff;
}
.row h3 {
    color: #fff;
}
.card-text {
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.625rem;
}
.card-title {
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.625rem;
}
.card-body1 {
    background: rgba(0, 0, 0, 0.6);
    border-color: black;
    color: white;
}
.card {
    background: transparent;
}
.col-sm-8 {
    background: rgba(0, 0, 0, 0.6);
    color: white;
}